.glossaryContainer {
  display: flex;
  flex-direction: column;
  gap: 12px;
  padding: 10px;
}

.row {
   left: 50%; 
  display: grid;
  grid-template-columns: 250px 1fr;
  gap: 12px;
  padding: 8px 0;
  border-bottom: 1px solid #ddd;
  font-family:  system-ui, Avenir, Helvetica, Arial, sans-serif !important;
  text-align: left;
}

.term {
  /* font-weight: bold;*/
  font-family:  system-ui, Avenir, Helvetica, Arial, sans-serif;
} 

.definition {
  color: white;
  font-size: 0.9rem;
  line-height: 1.3;
  font-family:  Helvetica, sans-serif;
}

.row:last-child {
  border-bottom: none;
}
