#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

table {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: separate;
    width: 25%;
    border: 1px solid #ddd;
    border-radius: 25px;
    background-color: #e1e1e1;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 1);
}

tr {
    margin: 10px;
    
}

th, td{
    text-align: left;
    padding: 10px;
    /* white-space: nowrap; */
    color: black;
    border-left: solid black 1px;
    border-bottom: solid black 1px;
    border-right: solid black 1px;
    font-size: 60%;
}

th{
  background-color: #e1e1e1;
  border-top: none;
}

td:first-child, th:first-child{
  border-left: none;
}

.cell-header {
    display: none;
}

@media screen and (max-width: 600px) {
    th{ 
        display: none;
    }
    .cell-header {
        display: block;
        font-weight: bold;
    }
    td {
        display: flex;
        justify-content: space-between;
    }
}

    .background
    {
      z-index: 1;
      position: absolute;
      top: 0;
      left: 0;
    }

    .foreground{
      z-index: 2;
      position: absolute;
      margin: 0;
      padding-top: 2%;
      top: 0;
      right: 0;
    }

